- var sublink = true  

include includes/head

include includes/navbar

#alerts
	include includes/flash

.container
	.row
		.col-12.col-lg-6
			.card
				.card-block
					h3= 'Poll: ' + poll.name
					p= ''
						small= ' By ' + poll.owner 
					-var i = 1
					-var action = '/poll/' + poll._id
					form(action=action method='post')
						.form-group
							label(for='selector') Select and Vote!
								select#selector.form-control(name='selector')
									each option in poll.options
										option(value=i-1)= 'Option ' + i + ': ' + option
										- i++
						if user
							a(href='#' data-toggle='collapse' data-target='#hider') Custom Option
							br
							.form-group#hider.collapse
								input(type='text' class='form-control' name='alternative' placeholder='Custom option')
							br
						.form-group
							input(type='submit' class='btn btn-success' value='Submit')
		.col-6.col-lg-4.offset-3.offset-lg-1
			canvas(id='pollChart' width='100' height='100')
			

			

script(src='../js/Chart.min.js')
script(src='../js/random-colors.js')
script.
	var labels = '#{poll.options}'
	labels = labels.split(',')
	
	var votes = '#{poll.options_votes}'
	votes = votes.split(',').map(Number)

	var data = {
		labels: labels,
		datasets: [
		{
			data: votes,
			backgroundColor: color,
			hoverBackgroundColor: color,
			hoverBorderColor: color,
			hoverBorderWidth: 2
		}]
	};

	var ctx = document.getElementById("pollChart");
	var pollChart = new Chart(ctx, {
		type: 'doughnut',
		data: data,
		options: {}
	})



include includes/footer